<!DOCTYPE html>
<html lang="en" ng-app="dashboardAdminApp">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HRMS</title>
  <!-- jQuery v3.6.1 -->
  <script src="../js/jquery-3.6.1.min.js"></script>

  <!-- Bootstrap CDN Downlaod v3.3.7 -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <!-- angularJS v1.8.2 -->
  <script src="../js/angular.min.js"></script>
  <script src="../js/angular-animate.min.js"></script>
  <script src="../js/angular-sanitize.min.js"></script>

  <script src="../js/ui-bootstrap-tpls-2.5.0.min.js"></script>

  <!-- ui-grid v4.11.1 -->
  <script src="../js/ui-grid.min.js"></script>
  <link rel="stylesheet" href="../css/ui-grid.min.css">

  <!-- custom CSS -->
  <link rel="stylesheet" href="../css/dashboard.admin.styles.css" />

  <!-- alerts css -->
  <link rel="stylesheet" href="../app/alerts/alert.styles.css">
</head>

<body ng-controller="DashboardAdminController">
  <div class="branding-ribbon-container">
    <a href="#" class="branding-ribbon-logo-container">
      <img src="../images/Napier Catalyst_Web_white.png" alt="" ng-click="redirectToDashboard()" />
    </a>
  </div>
  <div class="container">
    <div class="row content-wrapper">
      <!-- <div class="col-xs-2">
        <ul class="admin-tabs-list">
          <li class="admin-tabs-list-item" ng-class="{'active-admin-tabs-list-item': activeFormType === 'news'}"
            ng-click="toggleForm('news')">
            News
          </li>
          <li class="admin-tabs-list-item" ng-class="{'active-admin-tabs-list-item': activeFormType === 'event'}"
            ng-click="toggleForm('event')">
            Event
          </li>
          <li class="admin-tabs-list-item" ng-class="{'active-admin-tabs-list-item': activeFormType === 'gallery'}"
            ng-click="toggleForm('gallery')">
            Galley
          </li>
          <li class="admin-tabs-list-item" ng-class="{'active-admin-tabs-list-item': activeFormType === 'linkedIn'}"
            ng-click="toggleForm('linkedIn')">
            LinkedIn
          </li>
          <li class="admin-tabs-list-item" ng-class="{'active-admin-tabs-list-item': activeFormType === 'carousel'}"
            ng-click="toggleForm('carousel')">
            Carousel
          </li>
          <li class="admin-tabs-list-item" ng-class="{'active-admin-tabs-list-item': activeFormType === 'cultureTabs'}"
            ng-click="toggleForm('cultureTabs')">
            Culture Tabs
          </li>
        </ul>
      </div> -->
      <div class="col-xs-12 right-content-wrapper">
        <div class="admin-search-container">
          <h4 class="container-header">Search</h4>
          <div class="row">
            <div class="col-xs-2">
              <p class="input-group">
                <input type="text" placeholder="From" class="form-control date-input" uib-datepicker-popup="dd-MM-yyyy"
                  ng-model="fromDate" is-open="fromDatePopup.opened" datepicker-options="fromDateOptions"
                  show-button-bar="false" ng-blur="restrictToDate()" ng-readonly="true" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openFromDatepicker()">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
            </div>
            <div class="col-xs-2">
              <p class="input-group">
                <input type="text" placeholder="To" class="form-control date-input" uib-datepicker-popup="dd-MM-yyyy"
                  ng-model="toDate" is-open="toDatePopup.opened" datepicker-options="toDateOptions"
                  show-button-bar="false" ng-readonly="true" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openToDatepicker()">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
            </div>
            <div class="col-xs-2">
              <select class="form-control" ng-model="searchType">
                <option value="news">News</option>
                <option value="event">Event</option>
                <option value="gallery">Gallery</option>
                <option value="linkedIn">LinkedIn</option>
                <option value="carousel">Carousel</option>
                <option value="cultureTab">Culture Tab</option>
              </select>
            </div>
            <div class="col-xs-2 button-group">
              <button class="btn btn-primary">Search</button>
              <button class="btn btn-secondary">Clear</button>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2">
              <button class="btn btn-success add-btn"><img src="../images/add.png" alt="" srcset=""><span>Add</span></button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div id="searchGrid" ui-grid="searchGridOptions" class="grid" ui-grid-pagination ui-grid-resize-columns ui-grid-pinning></div>
            </div>
          </div>
        </div>
        <form class="admin-form-container" name="createNewDataForm">
          <h4 class="container-header">{{formMode | capitalize}}</h4>
          <div class="row">
            <div class="form-group col-xs-2">
              <label for="newsTitle">Type</label>
              <select name="type" class="form-control" ng-model="formData.activeFormType"
                ng-class="{'not-valid': !createNewDataForm.type.$valid && submitAttempted}" ng-disabled="formMode === 'update'" required>
                <option value="news">News</option>
                <option value="event">Event</option>
                <option value="gallery">Gallery</option>
                <option value="linkedIn">LinkedIn</option>
                <option value="carousel">Carousel</option>
                <option value="cultureTab">Culture Tab</option>
              </select>
            </div>
            <div class="form-group col-xs-10">
              <label for="title">Title</label>
              <input type="text" name="title" class="form-control" id="title" ng-model="formData.title"
                ng-class="{'not-valid': !createNewDataForm.title.$valid && submitAttempted}" required />
            </div>
            <div class="form-group col-xs-12">
              <label for="description">Description</label>
              <textarea type="text" name="description" class="form-control" id="description" rows="3"
                ng-model="formData.description"
                ng-class="{'not-valid': !createNewDataForm.description.$valid && submitAttempted}" required></textarea>
            </div>
            <div class="form-group col-xs-12"
              ng-if="!(formData.activeFormType === 'event' || formData.activeFormType === 'linkedIn' || formData.activeFormType === 'cultureTabs')">
              <label for="thumbnailURL">Thumbnail URL</label>
              <input type="text" name="thumbnailURL" class="form-control" id="thumbnailURL"
                ng-model="formData.thumbnailURL"
                ng-class="{'not-valid': !createNewDataForm.thumbnailURL.$valid && submitAttempted}" required />
                <div class="alert alert-warning" role="alert">...</div>
            </div>
            <div class="form-group col-xs-12">
              <label for="redirectionURL">Redirection URL</label>
              <input type="text" name="redirectionURL" class="form-control" id="redirectionURL"
                ng-model="formData.redirectionURL"
                ng-class="{'not-valid': !createNewDataForm.redirectionURL.$valid && submitAttempted}" required />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-3"
              ng-if="!(formData.activeFormType === 'carousel' || formData.activeFormType === 'linkedIn' || formData.activeFormType === 'cultureTabs')">
              <label for="expiryDate">Expiry Date</label>
              <p class="input-group">
                <input id="expiryDate" type="text" name="expiryDate" class="form-control date-input"
                  uib-datepicker-popup="dd-MM-yyyy" ng-model="formData.expiryDate" is-open="expiryDatePopup.opened"
                  datepicker-options="expiryDateOptions" show-button-bar="false" ng-readonly="true"
                  ng-class="{'not-valid': !createNewDataForm.expiryDate.$valid && submitAttempted}" required />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="openExpiryDatepicker()">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
            </div>
            <div class="form-group col-xs-3" ng-if="!(formData.activeFormType !== 'news')">
              <label for="eventDate">Event Date</label>
              <p class="input-group">
                <input id="eventDate" type="text" name="eventDate" class="form-control date-input"
                  uib-datepicker-popup="dd-MM-yyyy" ng-model="formData.eventDate" is-open="eventDatePopup.opened"
                  datepicker-options="eventDateOptions" show-button-bar="false" ng-readonly="true" required
                  ng-class="{'not-valid': !createNewDataForm.eventDate.$valid && submitAttempted}" required />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default"
                    ng-class="{'not-valid': !createNewDataForm.eventDate.$valid && submitAttempted}"
                    ng-click="openEventDatepicker()">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
            </div>
            <div class="form-group col-xs-3">
              <label for="status">Status</label>
              <div>
                <label class="radio-inline">
                  <input type="radio" name="statusRadioOptions" id="status" value="active" ng-model="formData.status"
                    required />
                  Active
                </label>
                <label class="radio-inline">
                  <input type="radio" name="statusRadioOptions" id="status" value="inactive" ng-model="formData.status"
                    required />
                  Inactive
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 button-group">
              <button class="btn btn-success" ng-click="save()">
                Submit
              </button>
              <button class="btn btn-secondary" type="button" ng-click="clear()">
                Clear
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="../app/alerts/alert.service.js"></script>
  <script src="../app/dashboard.admin.controller.js"></script>
</body>

</html>